@import "tailwindcss";

@font-face {
  font-family: Centra;
  src: url("assets/fonts/CentraNo2-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url("assets/fonts/CentraNo2-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url("assets/fonts/CentraNo2-Book.ttf");
  font-weight: 400;
}

:root {
  /* DaisyUI Color Variables */
  --background: hsl(var(--b1));
  --foreground: hsl(var(--p));

  --primary: hsl(var(--p));
  --primary-focus: hsl(var(--pf));
  --primary-content: hsl(var(--pc));

  --secondary: hsl(var(--s));
  --secondary-focus: hsl(var(--sf));
  --secondary-content: hsl(var(--sc));

  --accent: hsl(var(--a));
  --accent-focus: hsl(var(--af));
  --accent-content: hsl(var(--ac));

  --neutral: hsl(var(--n));
  --neutral-focus: hsl(var(--nf));
  --neutral-content: hsl(var(--nc));

  --base-100: hsl(var(--b1));
  --base-200: hsl(var(--b2));
  --base-300: hsl(var(--b3));
  --base-content: hsl(var(--bc));

  --info: hsl(var(--in));
  --success: hsl(var(--su));
  --warning: hsl(var(--wa));
  --error: hsl(var(--er));
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  color: var(--foreground);
  background: var(--background);
  font-family: "Centra", sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal
}
