@import "tailwindcss";
@plugin "daisyui" {
  themes: space;
}

@plugin "daisyui/theme" {
  name: "space";
  default: false;
  prefersdark: false;
  color-scheme: dark;

  --color-base-content: #ffffff;
  --color-primary: #EC186C;
  --color-secondary: #8D2999;
  --color-accent: #F0F3FF;
  --color-info: #151959;
  --color-neutral: #6D206E;
  --color-base-100: #361447;
  --color-success: #403BEF;
}

@plugin "daisyui/theme" {
  name: "greenSpace";
  default: false;
  prefersdark: false;
  color-scheme: dark;

  --color-primary: #A1CE3F;
  --color-secondary: #107E57;
  --color-accent: #cbe58e;
  --color-neutral: #014760;
  --color-base-100: #013026;
}

@font-face {
  font-family: Centra;
  src: url("assets/fonts/CentraNo2-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url("assets/fonts/CentraNo2-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url("assets/fonts/CentraNo2-Book.ttf");
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  color: var(--foreground);
  background: var(--background);
  font-family: "Centra", sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal
}
