@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "space";
  default: false;
  prefersdark: false;
  color-scheme: dark;

  --color-base-content: #ffffff;
  --color-primary: #ec186c;
  --color-secondary: #8d2999;
  --color-accent: #B7FFC9;
  --color-info: #151959;
  --color-neutral: #361447;
  --color-base-100: #121212;
  --color-base-200: #282828;
  --color-success: #403bef;
}

@plugin "daisyui/theme" {
  name: "greenSpace";
  default: false;
  prefersdark: false;
  color-scheme: dark;

  --color-primary: #a1ce3f;
  --color-secondary: #107e57;
  --color-accent: #cbe58e;
  --color-neutral: #014760;
  --color-base-100: #013026;
}

@font-face {
  font-family: Centra;
  src: url("assets/fonts/CentraNo2-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url("assets/fonts/CentraNo2-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url("assets/fonts/CentraNo2-Book.ttf");
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  overflow-x: hidden;
  position: relative;
  font-family: "Centra", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

#typing-intros {
  font-family: 'IBM Plex Mono', monospace;
}

.glow {
  filter: drop-shadow(0 0 12px rgba(183, 255, 201, 0.5));
}